.swiper-container {
}

.videoSwiper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

:deep(.swiper-slide) {
  text-align: center;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoSwiper img {
  height: 100%;
  object-fit: cover;
}

:deep(.swiper-pagination) .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(229, 180, 127);
}

:deep(.swiper-pagination-bullet) {
  width: 14px;
  height: 14px;
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
:deep(.swiper-pagination-horizontal.swiper-pagination-bullets) .swiper-pagination-bullet {
  margin: 0 8px;
}

:deep(.swiper-button-prev),
:deep(.swiper-button-next) {
  color: rgb(229, 180, 127);
}

.video-player {
  width: 95%;
  border-radius: 1rem;
  height: 100%;
  backdrop-filter: blur(10px);
}

.video-container * {
  vertical-align: baseline;
}

.video-box {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  .video-container {
    width: 100%;
    float: left;
    border-radius: 1rem;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .videoPlayer {
      height: 100%;
      width: 100%;
      backdrop-filter: blur(50px);
      border-radius: 1rem;
    }

    .videoinfo-area {
      position: absolute;
      bottom: 50px;
      padding: 10px;
      width: 60%;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: self-start;

      .video-title {
        max-width: 95%;
      }
    }

    .video-operate {
      position: absolute;
      bottom: 50px;
      padding-right: 16px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      right: 0;

      .operate-area {
        align-items: center;
        display: flex;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        position: relative;

        .video-author {
          vertical-align: bottom;
          position: relative;
          padding: 10px 0;

          .user-avatar {
          }

          .user-att {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 10%);
          }

        }

        .op {
          vertical-align: bottom;
          position: relative;
          padding: 10px;
          cursor: pointer;

          .iconfont {
            color: white;
          }

          .video-nums {
            align-items: center;
            color: #fff;
            display: flex;
            font-size: 15px;
            font-weight: 500;
            justify-content: center;
            line-height: 23px;
            opacity: .9;
          }

        }
      }
    }
  }

}

.operate-icon {
  font-size: 30px;
  text-align: center;
  transition: font-size 0.2s linear, width 0.2s linear;
  display: inline-block;
  vertical-align: middle;
}

.operate-icon:hover {
  font-size: 35px;
  color: red;
}

.video-sidebar {
  backdrop-filter: blur(10px);
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.133) 0 1.6px 3.6px 0, rgba(0, 0, 0, 0.11) 0 0.3px 0.9px 0;
}

.video-tag {
  color: gold;
}

.swiper-operate {
  width: 5%;
  z-index: 2;

  .player-playswitch-tab {
    background-color: var(--niuyin-custom-bg);
    border-radius: 1.5rem;
    padding: 1px;

    &:hover {
      backdrop-filter: blur(5px);
    }

    .player-playswitch-prev {
      padding: 10px;
      transition: all 0.5s ease;

      &:hover .el-icon {
        --color: var(--niuyin-primary-color) !important;
      }
    }

    .player-playswitch-next {
      padding: 10px;
      transition: all 0.5s ease;

      &:hover .el-icon {
        --color: var(--niuyin-primary-color) !important;
      }
    }
  }
}

.feedback {
  position: fixed;
  bottom: 1rem;
  right: 6px;

  .feedback-icon {
    padding: 10px;
    background-color: var(--niuyin-custom-bg);
    vertical-align: middle;
    border-radius: 2rem;
  }
}

.video-type-pics {
  position: absolute;
  left: 2%;
  top: 2%;
  padding: 5px 10px;
  background: var(--niuyin-bg-color2);
  backdrop-filter: blur(10px);
  border-radius: 6px;

  .type-desc {
    margin-left: 2px;
    color: gold;
  }
}

.video-position {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgba(118, 195, 118, 0.46);

  .position-city:after {
    border-left: 2px solid var(--niuyin-text-color);
    content: "";
    margin: 0 5px;
  }

  .position-dist:after {
    border-left: 2px solid var(--niuyin-text-color);
    content: "";
    margin: 0 5px;
  }

}

