
:root {
    --el-color-info: #ebedef; /*按钮背景色*/
    --el-input-bg-color: rgb(242, 242, 243);
    --el-fill-color-blank: rgb(242, 242, 243); /*输入框*/
    --el-loading-spinner-size: 100px; /*加载图标大小*/
    --el-fill-color: rgba(240, 242, 245, 0.41); /*加载中图片背景色*/
    --el-fill-color-darker: rgba(230, 232, 235, 0.47);
    --el-messagebox-border-radius: 16px; /*弹框radius*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;*/
}

html {
    height: 100%;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
    height: 100%;
}

a {
    text-decoration: none
}

.mr-5r {
    margin-right: 0.5rem;
}

.ml-5r {
    margin-left: 0.5rem;
}

.icon-30 {
    width: 30px;
    height: 30px;
}

.icon-36 {
    width: 36px;
    height: 36px;
}

.cg {
    color: grey;
}

.cb {
    color: black;
}

.cr {
    color: red;
}

.fs5 {
    font-size: 0.5rem;
}

.fs6 {
    font-size: 0.6rem;
}

.fs7 {
    font-size: 0.7rem;
}

.fs8 {
    font-size: 0.8rem;
}

.fs9 {
    font-size: 0.9rem;
}

.fw600 {
    font-weight: 600;
}

.el-skeleton__image {
    border-radius: 1rem;
}

.backdrop-filter {
    backdrop-filter: blur(10px);
}

.one-line {
    /* 一行显示 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-main {
    padding: 0 1rem 1rem 0 !important;
}

.el-upload {
    width: 100%;
}

.niuyin-header {
    .el-input__wrapper {
        border-radius: 1rem 0 0 1rem;
    }
}

.el-input__inner {
    height: 38px;
}

.keyword-hint {
    color: red;
}

.video-player {
    .el-carousel__container {
        height: 100%;
    }
}

/*el抽屉drawer*/
.el-drawer {
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(10px);
}

.el-drawer__header {
    margin-bottom: 0 !important;
}

.el-drawer__body {
    padding: 0 !important;
    margin: 1rem;
}

/*el卡片card*/
.el-card {
    background-color: transparent;
    border: none;
}

.el-card__body {
}

.el-pagination button {
    background-color: transparent;
}

.el-pagination {
    margin: 0 0 2rem 0;
    float: right;
}

.el-tabs {
    background-color: transparent !important;
    border: none !important;
}

.el-tabs__header {
    background-color: transparent !important;
}

.el-tabs__item {
    background-color: transparent !important;
}

.el-tabs__item.is-active {
    color: blue !important;
}

.el-card__body {
    height: 100%;
    padding: 0.5rem;
}

.el-loading-mask {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
}

.el-dialog {
    margin: 3vh auto;
    background-color: white;
    border-radius: 1rem;
}

.el-dialog__header {
    margin: 0;
    color: black;
    display: flex;
    justify-content: space-between
}

.el-dialog__body {
    height: 90%;
}

.custom-loading-svg {
    justify-content: center;
}

.router-is-focus .tab_left_item2 {
    backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, 0.5);
    color: black !important;
    font-weight: 600;
}

.el-autocomplete {
    width: 100%;
}

/*分割线背景色*/
.el-divider__text {
    background-color: transparent;
}

.el-popper {
    border-radius: 1rem;
}

.avatar-uploader .el-upload {
    height: 100%;
    width: 100%;
}
