.el-card {
  --el-card-padding: 0;
  --el-card-bg-color: rgba(242, 242, 243, 1)
}

.el-card__body {
  height: 100%;
}

.el-popper.is-customized {
  /* Set padding to ensure the height is 32px */
  padding: 6px 12px;
  background: linear-gradient(45deg, rgba(206, 27, 71, 0.3), rgba(45, 79, 225, 0.3), rgba(206, 27, 71, 0.3), rgba(45, 79, 225, 0.3));
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, rgba(41, 73, 246, 0.5), rgba(133, 149, 246, 0.5));
  right: 0;
}

/*popover*/
.el-popover {
  --el-popover-border-radius: 16px;
}

.el-tabs__header {
  position: sticky;
  top: -2px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
  background: white;
}

.channel-container .el-tabs__header {
  position: sticky;
  top: 0;
  border-radius: 6px;
}

/*按钮*/
.el-button.is-text {
  background-color: rgb(242 242 242);
}

/*抽屉*/
.el-drawer {
  --el-drawer-padding-primary: var(--el-dialog-padding-primary, 10px);
}

.el-drawer__header {
  margin-bottom: 0;
}

.el-drawer__body {
}

@media (max-width: 500px) {
  .channel-container .el-avatar {
    --el-avatar-size: 24px;
  }
}

.el-tabs__header {
  z-index: 100;
}

.cover-image {

  .el-image__inner {
    object-fit: cover;
  }
}

.video-cover {
  .el-image__inner {
    object-fit: cover;
  }
}

//.video-page-container {
//  .el-image__inner {
//    object-fit: cover;
//  }
//}

.eli-ofc {
  .el-image__inner {
    object-fit: cover;
  }
}
