.el-card {
  --el-card-padding: 0;
  --el-card-bg-color: rgba(242, 242, 243, 1)
}

.el-card__body {
  height: 100%;
}


/*popover*/
.el-popover {
  --el-popover-border-radius: 8px;
}

.el-tabs__header {
  position: sticky;
  top: -2px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
  background: white;
}

.channel-container .el-tabs__header {
  position: sticky;
  top: 0;
  border-radius: 6px;
}

/*按钮*/
.el-button.is-text {
  background-color: rgb(242 242 242);
}

/*抽屉*/
.el-drawer {
  --el-drawer-padding-primary: var(--el-dialog-padding-primary, 10px);
}

.el-drawer__header {
  margin-bottom: 0;
}

.el-drawer__body {
}

@media (max-width: 500px) {
  .channel-container .el-avatar {
    --el-avatar-size: 24px;
  }
}
