.hot-container {
  border-radius: 1rem;
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loading-item {
    width: 24.5%;
  }
}

.hotVideo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .hotVideos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .hotVideo-item {
      background-color: white;
      width: 24.4%;
      border-radius: 0.5rem;
      height: 300px;
      box-shadow: rgba(0, 0, 0, 0.133) 0 1.6px 3.6px 0, rgba(0, 0, 0, 0.11) 0 0.3px 0.9px 0;
      margin-bottom: 1rem;

      .video-cover {
        height: 80%;
        border-radius: 0.5rem;
        text-align: center
      }

      .user-info {
        height: 20%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(242, 242, 243, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .hotVideo-list .hotVideos .hotVideo-item {
    width: 49%;
    height: 100px;
  }
}
