.niuyin {
  background-image: url("@/assets/images/index-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.el-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  right: 20px;
}
